@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #D4F6FF !important; */
}

:root {
  --green: #257180;
  --dark-color: #00bcd4;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0.01rem;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  padding: 0.5rem 2rem;
  color: var(--black);
  background: #fff;
  border: var(--border);
}
.header-2 .navbar a {
  font-size: 2rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--green);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

span {
  font-size: medium;
  padding-left: 5px;
}

.btn:hover {
  background: var(--dark-color);
}
.header .header-1 {
  background: #fff;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header-1 .logo {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--black);
  text-decoration: none;
}

.header .header-1 .logo i {
  color: var(--green);
}

.header .header-1 .search-form {
  width: 30rem;
  height: 2.5rem;
  border: var(--border);
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.header .header-1 .search-form input {
  font-size: 1.2rem;
  padding: 0 3rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}

.header .header-1 .search-form label {
  font-size: 1.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .header-1 .search-form label:hover {
  color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
  font-size: rem;
  margin-left: 1.5rem;
  color: var(--black);
  cursor: pointer;
  text-decoration: none;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
  color: var(--green);
}

#search-btn {
  display: none;
}

.header .header-2 {
  background: var(--green);
}

.header .header-2 .navbar {
  text-align: center;
  display: flex;
  justify-content: center;
}

.header .header-2 .navbar a {
  color: #fff;
  display: inline-block;
  padding: 3px 20px;
  font-size: 1.2rem;
  text-decoration: none;
}

.header .header-2 .navbar a:hover {
  background: var(--dark-color);
}

.header .header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.bottom-navbar {
  text-align: center;
  background: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.bottom-navbar a {
  font-size: 1.5rem;
  padding: 5px 20px;
  color: #fff;
  text-decoration: none;
}

.bottom-navbar a:hover {
  background: var(--dark-color);
}

/* Hero Section */

section {
  background-color: white;
}
.first-section {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  margin: 11% 0%;
  justify-content: center;
}
.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  row-gap: 50px;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 100px;
}
.second-section > div {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
.second-section > div > div {
  width: 40vw;
}
.second-section img {
  width: 40vw;
  cursor: pointer;
}
.second-section img:hover {
  scale: 1.02;
}
.second-section h2,.second-section h1 {
  color: #257180;
  font-stretch: ultra-expanded;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 3px 4px gray;
}
#home-content {
  max-width: 80%;
  /* height: 100vh; */
}
#home-content > h1 {
  font-stretch: ultra-expanded;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* text-shadow: 3px 3px 4px gray; */
  font-size: 3rem;
  margin-bottom: 20px;
  color: #257180;
}

#home-content > button,
#backtoHome ,#back{
  color: white;
  background-color: #257180;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8%;
}
#home-content > button:hover,
#backtoHome:hover ,#back:hover{ 
  color: #257180;
  background-color: white;
}
#back{
  margin-top: 5px;
  border-radius: 50% 0 0 50%;
}

/* Product Cards */
#productsDiv,
#cartDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  /* min-height: 100vh; */
}
#addToCart:hover {
  background-color: black;
  color: white;
}
#card {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 3px 3px gray;
  border-radius: 8px;
  overflow: hidden;
  width: 230px;
  text-align: center;
  padding: 10px;
}
#card:hover {
  scale: 1.05;
}
#card button,
#buyNow,
#remove {
  /* margin-top: 5px; */
  background-color: #257180;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  position: sticky;
  bottom: 10px;
}
#img,
#cartImage {
  max-height: 180px;
  object-fit: contain;
  width: 95%;
  height: 70%;
  display: block;
  margin: 0px auto;
  align-items: center;
}
#img:hover {
  scale: 1.03;
}
#brand,
#description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: fit-content;
  /* max-width: 25vw; */
}
#brand {
  font-weight: bold;
  margin-top: 10px;
}
#description {
  font-size: small;
}
#price {
  font-size: medium;
  /* margin-top: 5px; */
}

#card button:hover {
  background-color: #00bcd4;
}
.third-section > h1  {
  margin-top: 100px;
  font-stretch: ultra-expanded;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 3px 3px 4px gray;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #257180;
  text-align: center;
}
.cardView{
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 67vh;
  align-items: center;
  gap: 5vw;
}
.cardView div{
  width:40vw
}
.cardView img{
  height: 50vh;
  object-fit: contain;
}
.cardView p:first-child,.cardView p:nth-child(3){
  font-weight: bold ;
}
.cardView button{
  background-color: #257180;
  padding: 5px 10px;
}


/* Footer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
}
.content1 .p {
  font-size: 2rem;
  font-weight: 600;
}
footer {
  width: 100%;
  background: #257180;
  color: white;
  margin-top: 30px;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: white;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
  color: white;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #257180;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #257180;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: white;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  /* background: #151515; */
  padding-left: 10px;
  /* border: 1px solid #222222; */
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: black;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  padding: 0px 10px;
  color: white;
  border-radius: 10px;
}
.right form .btn button:hover {
  background: #257180;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #257180;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

/* popUp Model */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#section {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #e3f2fd;
}
button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #265df2;
}
button.show-modal,
.modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#section.active .show-modal {
  display: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
#section.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
#section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.modal-box i {
  font-size: 70px;
  color: #4070f4;
}
.modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.modal-box .buttons {
  margin-top: 25px;
}
.modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}

@media screen and (max-width: 991px) {
  section {
    padding: 3rem 2rem;
  }
  .logo{
    font-size: 1.8rem;
  }
  .icons span{
    display: none;
  }
  .second-section > div {
    flex-wrap: wrap;
  }
  .second-section img {
    width: 80vw;
    order: 1;
  }
  .second-section img:hover {
    scale: 1.02;
  }
  .second-section h1 {
    font-size: 2.3rem;
    margin-top: 50px;
  }
  .second-section p {
    font-size: 1rem;
  }
  .second-section > div > div {
    width: 80vw;
  }
  .featured-products img {
    max-height: 140px;
    object-fit: contain;
  }
  .featured-products {
    gap: 20px;
  }
  .third-section > h1 {
    font-size: xx-large;
  }
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
  html {
    scroll-padding-top: 0;
  }

  .header .header-2 {
    display: none;
  }

  .bottom-navbar {
    display: block;
  }

  #search-btn {
    display: inline-block;
  }

  .header .header-1 {
    box-shadow: var(--box-shadow);
    position: relative;
  }

  .header .header-1 .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
  }

  .header .header-1 .search-form.active {
    top: 115%;
  }
  .cardView{
    flex-direction: column;
    height: fit-content;
    gap: 10px;
  }
  .cardView div:last-child{
    width: 80vw;
    text-align: center;
  }

}